<h2>Create new celebrity</h2>

<form method="post">
  <label>Name</label>
  <input type="text" name="name" />
  <label>occupation</label>
  <input type="text" name="occupation" />
  <label>CatchPhrase</label>
  <input type="text" name="catchPhrase" />
  <button>Create</button>
</form>